button {
    background-color: rgb(177, 0, 0);
    color: white;
    padding: 1%;
    text-align: center;
    display: inline-block;
    font-size: 80%;
    float: right;
    position: center;
  }

  button:active {
    background-color: rgb(177, 0, 0);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


  button:hover {
    background-color: white;
    color: rgb(177, 0, 0);
  }

  div {
    margin-top: 1%;
    background-color: #F5F5F5;
    margin-right: 3%;
    margin-left: 3%;
    box-shadow: 2px 2px 1px #444;
  }

  h3 {
    color: black;
    font-size: 80%;

  }

  h4 {
    color: rgb(33, 59, 9);
    font-size: 90%;
  }

  .codeArticle {
    font-size: 100%;
    color: rgb(61, 60, 60);
    font-weight: bold;
    text-align: center;
  }

  p {
    font-size: 80%;
    color: #000000;
    font-weight: bold;
  }

  tr {
    width: 40%;
  }

  td {
    width: 5%;
  }

  .header{
    background-color:gainsboro;
  }

  .imageArticle{
      padding: 5px;
      margin: 0;
    }

    .img2{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 150px;
      padding: 10px 20px;
      max-height: 300px;

    }

  .productName{
    background-color: rgb(58, 114, 102);
  }
