
  h2{
    color: darkorange;
    text-decoration: none;
    font-variant: normal;
    margin-left: 40px;
    font-size:20px;
  }
  div {
    background-color: #F5F5F5;
    margin-right: 2%;
    margin-left: 2%;
  }


  .button{
    background-color: darkorange;
    border-radius: 4px;
    color: white;
    padding: 12px 14px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    float: right;
    position: center;
  }

  button:active {
    background-color: darkorange;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  button:hover {
    background-color: white;
    color: darkorange;
  }

.center-block{
  margin-bottom: 5px;
  background-position: center;
  border-radius: 10px;
  width: 500px;
  height:20px;

  margin: auto;
  background: rgb(104, 164, 167);
  padding:5px;
  border-style:outset ;
  text-align: center;

  float:left;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
}

.form-control{
  width: 300px;
}

td{
  padding: 5px;
  border: 5px solid silver;
  margin: 0;
}