<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

  <header>
    <div class="container">
      <nav>
        <ul>
          <li><a routerLink="/scan" id="scan" class="active" href="#scan">Scan</a></li>
          <li><a routerLink="/list-article" id="list" class="button button3" href="#listArticle">Liste de mes codes barres</a></li>
        </ul>
      </nav>
    </div>
  </header>

<div>
  <router-outlet></router-outlet>
</div>


</body>



