<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div >
  <label>
      
      <input class="search-box" label="recherche" placeholder="Filtre" #search value=""/>
      <button type="submit"><i class="search-btn" (click)="filterArticle(search.value)"> <img src="https://img.icons8.com/metro/26/000000/search.png"/></i></button>
  </label>
  
</div>

<app-article *ngFor="let article of this.articles" [article]="article"
             (askForDelete)="removeArticle($event.id)"></app-article>

